/*==colors==*/
:root{
  --color-pink:#E93B8E;
  --color-black:#000;
  --color-background:#D9B8B3;
  --color-white:#fff;
}
/*==whitespace==*/
*{
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}
/*==body==*/
body{
  background-image: url(Images/002.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
/*==header==*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  width: 95%;
}
/*==logo==*/
.logo{
  padding-left: 2rem;
  cursor: pointer;
  color: var(--color-pink)
}
/*==span==*/
span{
  color: var(--color-black);
}
/*==singup-button==*/
.signup{
  padding-left: 1rem;
  background-color: var(--color-pink);
  color: var(--color-black);
  border: none;
  height: 2rem;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.15s var(--color-pink);
}
/*==singup-hover==*/
.signup:hover{
  background-color: rgb(39, 39, 243);
  color: var(--color-white);
}
/*==main-section==*/
.main{
  transform: translateY(-50% -50%);
  position: absolute;
  padding-left: 2rem;
  margin-top: 5rem;
  
}
/*==h2==*/
h2{
  font-size: 32px;
}
/*==p-==*/
p{
  font-size: 14px;
}
/*==subscribe-button==*/
button{
  background-color: var(--color-pink);
  color: var(--color-black);
  border: none;
  height: 2rem;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 0.1rem;
}
/*==media=quries=phones*/
@media only screen and (max-width: 375px){
h2{
  display: block;
  font-size: 2.1rem;
  margin-top: -70px;
}
/*==media=quries=ipads/tablets*/
}
@media only screen and (min-width: 780px){
.logo{
  color: var(--color-black);
}
span{
  color: var(--color-pink);
}
h2,p{
  color: rgb(23, 23, 240);
}
}

@media only screen and (min-width: 1024px){
  h2,p{
    color: var(--color-black);
  }
}


/*notes on devices
*320px — 480px: Mobile devices.
*481px — 768px: iPads, Tablets.
*769px — 1024px: Small screens, laptops.
*1025px — 1200px: Desktops, large screens.
*1201px and more — Extra large screens, TV.*/
